@import "tailwindcss";

body {
  background-color: #1F1F1F;
  color: #fff;
}

/* app/globals.css */

@layer utilities {
  /* Estilização para Chrome, Edge e Safari */
  ::-webkit-scrollbar {
    width: 10px;               /* Largura da barra vertical */
    height: 10px;              /* Altura da barra horizontal */
  }

  ::-webkit-scrollbar-track {
    background: #181818;       /* Cor do fundo do trilho (igual ao fundo do seu menu) */
    border-left: 1px solid rgba(255, 255, 255, 0.05); /* Borda sutil para separar */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #333;    /* Cor da parte móvel da barra */
    border-radius: 9999px;     /* Borda totalmente redonda */
    border: 3px solid #181818; /* Cria um "respiro" entre a barra e o fundo */
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;    /* Cor ao passar o mouse (mais claro) */
  }

  /* Estilização para Firefox (Suporte limitado, mas funcional) */
  * {
    scrollbar-width: thin;
    scrollbar-color: #333 #181818;
  }
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  75% { transform: translateX(5px); }
}

.animate-shake {
  animation: shake 0.2s ease-in-out 3;
}